/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
  height: 40px;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

/* Profile Picture Grid */
.profile-pic-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Profile Picture Images */
.profile-pic {
  width: 100px;/* width and height does not work*/
  height: 100px;
  border: 2px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.profile-pic-small {
  width: 50px; /* width and height does not work*/
  height: 50px;
  border: 2px solid #ddd;
  border-radius: 8px;
}

.profile-pic:hover {
  transform: scale(1.1);
  border-color: #4CAF50;
}

.profile-pic-selected {
  border-color: #4CAF50;
  box-shadow: 0 0 10px #4CAF50;
  transform: scale(1.1);
}

.gwt-Button{
  border-radius: 3px;
}

.createRoomButton{
  border-radius: 10px;
  font-size: 10pt;
  background-color: #b5e48c;
}

.joinRoomButton{
  background-color: #b5e48c;
  border-radius: 8px;
}

.textField{
  margin-left: 20px;
  margin-right: 5px;
}
.boldText{
  font-weight: bolder;
  font-size: 16pt;
}

.MessageDisplayField{
  overflow-y: scroll;
  font-size: 14px;
  color: #333;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  margin: 10px;
  width: 500px;
  height: 200px;
  resize: none;
}

.MessageInputField{
  font-size: 14px;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 500px;
  height: 20px;
  resize: none;
}

/* to display a <hr>, but this cannot be placed into a HTML element in the ui.xml */
.custom-hr {
  border: 0;
  height: 1px;
  background-color: #ccc;
  margin: 10px 0;
  width: 100%;
}

.gameArea{
  color: #4CAF50;
  background-color: orange;
  width: 800px;
  height: 800px;
}

.bottom-aligned{
  position:absolute;
  bottom:0;
  margin-bottom: 75px;
}

.lobbyMainPanel{
  display: flex;
  justify-content: center;
  height: 97vh;
  width: 100%;
  box-sizing: border-box;
  background-color: #fae5aa;
  border-color: #4CAF50;
  border-radius: 20px;
}

.characterPanel{
  display: flex;
  justify-content: center;
  height: 97vh;
  width: 100%;
  box-sizing: border-box;
  background-color: #dcffc6;
  border-color: #4CAF50;
  border-radius: 20px;
}